<h1>Listing streamers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Followers</th>
      <th>Subscribers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @streamers.each do |streamer| %>
      <tr>
        <td><%= streamer.name %></td>
        <td><%= streamer.followers %></td>
        <td><%= streamer.subscribers %></td>
        <td><%= link_to 'Show', streamer %></td>
        <td><%= link_to 'Edit', edit_streamer_path(streamer) %></td>
        <td><%= link_to 'Destroy', streamer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Streamer', new_streamer_path %>
